# Streamlit for building the web app
streamlit

# Pandas for data handling
pandas

# RapidFuzz for fuzzy string matching
rapidfuzz

# spaCy for NLP
spacy

# SpellChecker for spell checking
pyspellchecker

# Specify the transformer-based spaCy model (en_core_web_trf)
# This line ensures the correct version of the model is installed
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0.tar.gz

# Any additional dependencies required for spaCy's transformer model
torch
transformers
tokenizers==0.13.3
