pip>=21.3
pandas
numpy
thinc==8.2.5  # Compatible with spacy 3.6.1 and Python 3.10
rapidfuzz==3.6.1
pyspellchecker==0.8.1
streamlit
transformers==4.37.2
tokenizers==0.15.1
spacy==3.7.6  # Use thinc 8.1.8 to avoid version conflicts
wheel
setuptools>=58.0.0





#pandas
#rapidfuzz
#spacy==3.4.0  # Downgraded spaCy to a stable version
#pyspellchecker
#streamlit
#thinc==8.1.0  # Compatible version of thinc with spaCy 3.4.0
#numpy==1.23.0  # Ensure numpy is compatible with thinc
