pandas
numpy
thinc==8.1.8  # Downgraded version to avoid Cython/Python 3.12 issues
Cython
rapidfuzz==3.6.1
pyspellchecker==0.8.1
streamlit
torch==2.2.0
transformers==4.37.2
tokenizers==0.15.1
spacy==3.6.1  # Downgraded version to avoid issues with Python 3.12
warnings





#pandas
#rapidfuzz
#spacy==3.4.0  # Downgraded spaCy to a stable version
#pyspellchecker
#streamlit
#thinc==8.1.0  # Compatible version of thinc with spaCy 3.4.0
#numpy==1.23.0  # Ensure numpy is compatible with thinc
